/* Index Style */

/* Font*/

@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo-Regular.ttf);
}

* {
    font-family: Arvo;
}

/* Mainpage Background */
.s1 {
    background-image: url(../imgs/h1.jpg);
    background-size: cover
}

.s1 h1 {
    color: aliceblue;
    font-size: 64px;
    position: absolute;
    left: 10%;
}

.s2 h1, .s2 p {
    padding: 8px 64px 8px 64px;
}

/* Bottom navigation bar position */
.fp-slidesNav {
    position: absolute;
    left: 50% !important
}

.sld1 h1 {
    font-size: 64px;
    position: absolute;
    left: 16.7%;
    transform: translate(-50%, 0);
}

h1.subHeader {
    padding: 16px;
}

#description-map {
    height: auto;
    width: 20%;
    margin: 1em;
    /* text-align: justify; */
    /* background-color: darkgreen;*/
    border: 3px solid green;
}