/* Index Style */

/* Font*/

@font-face {
    font-family: Arvo;
    src: url(../fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(../fonts/FredokaOne-Regular.ttf);
}

* {
    font-family: Arvo;
}

body {
    background-color: rgb(254, 254, 230);
}

.display-flex {
    display: flex;
}

/* Mainpage Background */
.s1 {
    background-image: url(../imgs/background_1.png);
    background-size: cover
}

.s1 h1 {
    /* color: aliceblue; */
    font-family: Fredoka;
    font-size: 64px;
    position: absolute;
    left: 7%;
    top: 35%;
}
/*
.s2 h1, .s2 p {
    padding: 8px 64px 8px 64px;
}*/

/* Bottom navigation bar position */
.fp-slidesNav {
    position: absolute;
    left: 50% !important
}

.sld1 h1 {
    font-size: 64px;
    position: absolute;
    left: 12.5%;
    transform: translate(-50%, 0);
}


h1.subHeader {
    padding: 16px;
    color: #3399cc;
    font-family: Fredoka;
    font-size: 45px;
    margin-left: 1em;
}

#description-map {
    height: auto;
    width: 20%;
    margin-left: 1em;
    padding: 0.5em;
    font-size: 24px;
    text-align: justify;
    /* background-color: darkgreen;*/
    border: 5px solid #3399cc;
    border-radius: 20px;
}

.s2 h1 {
    margin-left: 2em;
    font-size: 30px;
}

.s2 p {
    width: 50vw;
    /* position: absolute; */
    margin-left: 2em;
    font-size: 24px;
}

.s3 h1 {
    margin-left: 1em;
    color: #3399cc;
    font-family: Fredoka;
    font-size: 45px;
    position: absolute;
    top: 6%;
}