#wrapper {
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  overflow: visible;
  /* Change position */
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%);
}

#container {
  float: left;
  height: 500px;
  width: 700px;
  margin: 0;
}

#info {
  float: left;
  width: 270px;
  padding-left: 20px;
  margin: 100px 0 0;
  border-left: 1px solid silver;
}

#info h2 {
  display: inline;
  font-size: 13pt;
}

#info .f32 .flag {
  vertical-align: bottom !important;
}

#info h4 {
  margin: 1em 0 0;
}

@media screen and (max-width: 920px) {

  #wrapper,
  #container,
  #info {
    float: none;
    width: 100%;
    height: auto;
    margin: 0.5em 0;
    padding: 0;
    border: none;
  }
}

#country-chart {
  background-color: #ffa0a058;
  width: 21vw;
  border: 3px solid green;
  border-radius: 20px;
}

/* The css for the radar charts */
#country-chart .legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

#country-chart .tooltip {
  fill: #333333;
  font-size: 10px;
}

#description-map {
  height: auto;
  width: 20vw;
  margin-left: 2em;
  /* text-align: justify; */
  /* background-color: darkgreen;*/
  /* border: 3px solid green; */
}